*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background: rgb(227,118,130);
  background: linear-gradient(0deg, rgba(227,118,130,1) 0%, rgba(95,77,147,1) 100%);
  min-height: 100vh;
  justify-content: center;
  position: relative;
}

h2 {
  color: #636363;
  font-size: 2em;
  letter-spacing: -0.09em;
  font-family: Helvetica;
  font-weight: 100;
}

h2::after{
  content: '';
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  display: block;
  width: 4em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

header{
  padding: 4em 4em 0.1em 4em;
  text-align: center;
  display: block;
}

header h1{
  color: #fff;
  font-size: 3.25em;
  line-height: 1.2;
  letter-spacing: -0.09em;
  font-family: Helvetica;
  font-weight: 100;
}

header p{
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.65);
  max-height: 200px;
}

nav{
  position: sticky;
  top: 0px;
  color: #636363;
  width: 80%;
  padding: 1em;
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 8em;
  padding-right: 8em;
  z-index: 100;
}

li{
  list-style: none; 
}

a{
  font-family: helvetica;
  text-decoration: none;
  color: #636363;
  font-weight: 600;
}

p{
  font-family: helvetica;
  
}

section{
  padding: 4em 4em 2em 4em;
  display: flex;
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

img{
  width: 300px;
}

.introduccion{
  padding-left: 2em;
  padding-right: 2em;
}

.introduccion button, p{
  margin-top: 1em;
}

button{
  background: #fff;
  border-radius: 10px;
  padding: .8em;
  transition: all 1s;
}

button:hover{
  cursor: pointer;
  background-color: #f4f4f4a0;
}

.proyecto{
  padding: 2em;
  margin: 1em 2.5em 1em 2.5em;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.contacto li{
  width: 140px;
  height: 140px;
}

#proyectos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

#align{
  padding-left: 1em;
}

.proyectos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.tols{
  width: 70px;
  
  margin: 1em;
  margin-bottom: 0;
}

#herramientas{
  display: block;
}

#contacto{
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.relleno{
  height: 200px;
}



#mostrar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 187, 187);
  opacity: .94;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: none;
  padding: 12em;
  color: #fff;
}

#mostrar img{
  width: 700px;
  border-radius: 5px;
}

.herramientas{
  padding: 1em 3em 1em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divTool{
  font-family: helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contacto{
  font-display: flex;
  flex-direction: column;
}

#contacto h2{
  display: block;
  width: 100%;
  padding-left: 1em;
}

#contacto img{
  width: 40px;
  margin: 0em 1em 0em 1em;
}

#contacto img:hover{
  transform: scale(1.1);
  filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.2));
  opacity: .9;
}

.marco{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 900px;
  overflow: hidden;
  color: black;
  padding: 0 2em 0 2em;

}

#mostrar #cerrar{
  position: absolute;
  width: 35px;
  right: 0;
  cursor: pointer;
}

span{
  color: #525151;
  font-weight: 900;
  font-size: 1.2em;
}

#menu{
  display: none;
  width: 32px;
}



.marco a{
  margin-top: .5em;
  background: #fff;
  border-radius: 10px;
  padding: .5em;
  border: black 2px solid;
}

.marco a:hover{
    cursor: pointer;
    background-color: #f4f4f4a0;
  }


@media  screen and (max-width: 1150px) {
  .proyecto{
    margin: 1em 1em 1em 1em;
  }
}

@media  screen and (max-width: 1135px) {
  section{
    width: 90%;
  }
  nav{
    width: 90%;
  }
}
@media  screen and (max-width: 1000px) {
  section{
    padding: 4em 2em 2em 2em;
  }
}
@media  screen and (max-width: 850px) {
  #introduccion{
    padding: 1em 1em 1em 1em;
  }
  .proyecto{
    margin: 1em;
    width: 250px;
    height: 150px;
  }

  #mostrar img{
    width: 270px;
  }

  .marco{
    width: 350px;
  }
 
}

@media  screen and (max-width: 790px) {
  #introduccion{
    flex-direction: column-reverse;
  }
  .herramientas{
    padding: .5em;
  }
  #contacto img{
    margin: 0em .5em 0em .5em;
  }
  ul{
    display: flex;
    flex-direction: column;
  }
  ul a{
    margin-top: .5em;
  }
  nav{
    position: relative;
  }
  ul{
    display: none;
  }

  #menu{
    display: block;
    position: absolute;
  }

  #menu:hover ~ ul{
    display: flex;
    position: relative;
  }

  ul:hover{
    display: flex;
  }
  
  nav ul a:hover{
    padding: .2em 3em .2em 3em;
    background-color: #fff;
    transform: scale(1.1);
  }

}


